{% extends 'usuarios/index.html' %}
{% block tittle %}Logeado {% endblock %}

<!--Esta primer parte es para la cabecera de la pagina -->

{% block foto_perfil %}
	{% if imagen %}
		<img src='{{ imagen }}' style="height:100%;">
	{% endif %}
{% endblock foto_perfil %}

{% block nom_user %}
	<h1>{{ user.get_full_name }}</h1>
{% endblock nom_user %}

{% block form_logueos %}
	<h4>Eres: {{ user.groups.all.0 }}</h4>
	<a  href='/usuario/cerrarSesion'>Cerrar sesion</a>
{% endblock form_logueos %}

<!--Termina parte para la cabecera de la pagina -->













